@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

a.hoverline {
  border-bottom: 3px solid transparent;
  padding: 3px 3px 0 3px;
  transition: 0.25s all;
  -moz-transition: 0.25s all;
  -webkit-transition: 0.25s all;
}

a.hoverline:hover {
  border-bottom: 3px solid #004d40;
}
.teal {
  background-color: #008073;
}

.aboutText {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  word-spacing: 5px;
}
